body {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background:#f3f3f3;
}

#wrapper {
    display: flex;
    -webkit-align-content: stretch;
    align-content: stretch;
    min-height: 100vh;
}

a {
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #666;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 5px 2px;
    display: block;
    width: 85%;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom:7px;
}

#folders .bookmark {
    display:none;
}

ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

ul li {
    margin-left:20px;
}

ul ul {
    display:none;
}

#counter,
h1,
h2 {
    margin:0;
    cursor:pointer;
    padding-left:5px;
    color:#bbb6b0;
    font-weight:normal;
    padding:7px;
    font-size:15px;
    margin-bottom:4px;
}

h2 span {
    font-size:10px;
    color:#666;
}

.active > h2 span,
.active > h2 {
    background:#3996d9;
    color:#fff;
}

#folders {
    margin:0;
    width:25%;
    background:#252a30;
    box-sizing: border-box;
}

#folders > ul {
    margin-right:20px;
}

#bookmarks {
    -webkit-flex: 1;
    flex:1;
    margin:0;
    background:#f3f3f3;
    padding-top:20px;
    box-sizing: border-box;
}

#search-input input {
    background:url(search.png) no-repeat 5px 5px #555;
    border-radius: 3px;
    border:0;
    padding:5px;
    margin:20px;
    border:1px solid #555;
    padding-left:25px;
    width:80%;
}

#search-input input:focus {
    border:1px solid #aaa;
    color:#fff;#
    outline-width: 0;
    outline: none;
}

#counter {
    margin-top:20px;
    font-size:10px;
    margin-left:20px;
    color:#666;
}